<h2><%= @task.title %></h2>
<p><%= link_to "Edit this task", edit_path(@task) %></p>
<h3><%= @task.details %></h3>
<br>
<h3><%= @task.completed ? "This task is complete." : "This task is not completed yet." %></h3>
<p><%= link_to "Back to tasks organizer", tasks_path %></p>
